<!DOCTYPE HTML>
<html>

<head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="datetime" name="fromto" placeholder="datetime range" id="fromto" style="width: 300px;" value="{{ fromto }}"/>
            
            <button type="submit">Filter</button>
        </form>
    </div>
    <div id="chartContainer" style="height: 400px;width: 1200px">
    </div>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    zoomEnabled: true,

                    title: {
                        text: "Chart With Date-Time Stamps Inputs"
                    },
                    axisX: {
                        valueFormatString: "HH:MM-DD/MM/YY",
                        labelAngle: -80
                    },
                    data: [
                        {
                            type: "line",
                            xValueType: "dateTime",
                            dataPoints: {{ sw1_data| safe}}
          }
          ]
        });

        chart.render();
        
        flatpickr("#fromto", {
            enableTime: true,
            time_24hr: true,
            mode: "range",
            disable: [
                function (date) {
                    // disable every multiple of 8
                    return !(date.getDate() % 8);
                }
            ]
        });

        }


    </script>


    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</body>

</html>