<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Charts</title>

</head>

<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="datetime" name="fromto" placeholder="datetime range" id="fromto" style="width: 300px;"
                value="{{ fromto}} " />

            <button type="submit">Filter</button>
        </form>
    </div>
    <section style="text-align: center;">
        <div id="sw1" style="height: 400px;width: 100%; text-align: center;">
        </div>

        <div id="sw2" style="height: 400px;width: 100%; text-align: center;">
        </div>

        <div id="sw3" style="height: 400px;width: 100%; text-align: center;">
        </div>
    </section>


    <script type="text/javascript">

        window.onload = function () {
            var chart = new CanvasJS.Chart("sw1",
                {
                    zoomEnabled: true,

                    title: {
                        text: "Swich 1 Chart"
                    },
                    axisX: {
                        valueFormatString: "HH:MM-DD/MM/YY",
                        labelAngle: -20
                    },
                    data: [{
                        type: "line",
                        xValueType: "dateTime",
                        dataPoints: {{ sw1_data| safe}}
          }]
        });

        chart.render();

        var chart = new CanvasJS.Chart("sw2",
            {
                zoomEnabled: true,

                title: {
                    text: "Swich 2 Chart"
                },
                axisX: {
                    valueFormatString: "HH:MM-DD/MM/YY",
                    labelAngle: -20
                },
                data: [{
                    type: "line",
                    xValueType: "dateTime",
                    dataPoints: {{ sw2_data| safe}}
          }]
        });
        chart.render();

        var chart = new CanvasJS.Chart("sw3",
            {
                zoomEnabled: true,

                title: {
                    text: "Swich 3 Chart"
                },
                axisX: {
                    valueFormatString: "HH:MM-DD/MM/YY",
                    labelAngle: -20
                },
                data: [{
                    type: "line",
                    xValueType: "dateTime",
                    dataPoints: {{ sw3_data| safe}}
          }]
        });
        chart.render();

        flatpickr("#fromto", {
            enableTime: true,
            time_24hr: true,
            mode: "range",
            disable: [
                function (date) {
                    // disable every multiple of 8
                    return !(date.getDate() % 8);
                }
            ]
        });

        }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</body>

</html>